{% extends 'base.html' %}

{% block content %}
<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    form {
        width: 300px; /* Ширина формы */
        background-color: rgba(255, 255, 255, 0.4); /* Цвет формы с прозрачностью */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Тень */
    }

    form button {
        background-color: #4CAF50; /* Зеленый цвет кнопки */
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    form button:hover {
        background-color: #45a049; /* Темно-зеленый цвет при наведении */
    }

    /* Стиль для выбора даты */
    .date-input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
</style>

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <h2>Уверены, что хотите отменить бронирование {{ reservation.get_computer_category }} на {{ reservation.start_session|date:"d/m, H:i" }}</h2>
        <button type="submit">Отменить бронирование</button>
    </form>
</div>
{% endblock %}